
	
	html{ 
		background-image: url("../images/truegrit_background.jpg");
		background-repeat: no repeat;
		background-position: right top;
		background-attachment: fixed;
    }
	
	.main {
		color: #000; 
		background-color: white; 
		margin: 100px auto; 
		padding: 20px 20px 20px; 
		position: relative; 
		width: 600px; 
		border-color: black;
		border-radius: 10px;
	}
	
	p {
		font-size: 15px;
		padding-left: 10px
	}
	
	h1 {
		font-size: 30px;
	}